<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Catalogue Search using Angular JS</title>
<script src="angular.min.js"></script>
<script src="jquery-3.1.1.js"></script>
<script src="bootstrap/bootstrap.js"></script>
<link href="bootstrap/bootstrap.css" />
<link rel="stylesheet" href="myStyle.css" />

</head>

<body data-ng-init="products=[{item:'Pen',price:'$0.5'},{item:'Book',price:'$3.0'},{item:'eraser',price:'$0.2'},{item:'pencil',price:'$0.3'},{item:'correction fluid',price:'$5'},{item:'marker',price:'$6'},{item:'ink',price:'$2'},{item:'socks',price:'$15'},{item:'Hankerchief',price:'$15'},{item:' complete uniform',price:'$150'}]">
	<h2>Use the search box to browse our catalogue</h2>
    <input type="text" id="liquidSearch" onkeyup="search()" data-ng-model="item" name="item" />
    <p><span id="search"></span> <span>{{item | uppercase}}</span><p>
    <ol>
    <li data-ng-repeat="product in products | filter:item">{{product.item | uppercase}} : <strong>{{product.price}}</strong></li>
    </ol>
    <script src="myScript.js"></script>
</body>
</html>
